<h1>Búsqueda por término: <small>{{busqueda}}</small></h1>
<hr>

<div class="row" *ngIf="heroesFilter.length == 0" class="animated fadeIn fast">
  <div class="col-md-12">
    <div class="alert alert-info" role="alert">
      No existen resultados con el término: {{ busqueda }}
    </div>

  </div>

</div>

<div class="card-columns">
  <div class="card animated fadeIn fast" *ngFor="let heroe of heroesFilter; let i = index">
      <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
      <div class="card-body">
        <h4 class="card-title">{{ heroe.nombre }}</h4>
        <p class="card-text">{{ heroe.bio }}</p>
        <p class="card-text"><small class="text-muted">{{ heroe.aparicion }}</small></p>

        <!-- <button type="button" class="btn btn-outline-primary btn-block">
          Ver más...
        </button> -->
        <!-- <a [routerLink]="['/heroe', i]" href="#" class="btn btn-outline-primary btn-block">Ver más link...</a> -->
        <button (click)="verHeroe(i)"
        type="button" class="btn btn-outline-primary btn-block">
          Ver más...
        </button>

      </div>
    </div>

</div>
